//
//  Debug.xcconfig
//  ILSANG
//
//  Created by Lee Jinhee on 10/31/24.
//


// Server URL
ROOT_URL = https:/$()/api-dev.illsangtech.com

// App Settings
APP_NAME = 일상 DEV
APP_BUNDLE_ID = com.ilsang240615.dev

SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG DEV

GIDClientID = 654001951429-ne4ev00taadiag4tr4euigqlv3jgkvr8.apps.googleusercontent.com
